---
layout: default
---

<div class="border">
   <h1 class="page-heading">About Rocks</h1>
</div>

<P><span style="strongword">Rocks</span> is an open-source Linux cluster distribution that enables end users to
easily build computational clusters, grid endpoints and visualization
tiled-display walls. Hundreds of researchers from around the world have used
Rocks to deploy their own cluster (see the <a href="/register">Rocks Cluster Register</a>).
</p>
<p>
Since May 2000, the Rocks group has been addressing the difficulties of
deploying manageable clusters. We have been driven by one goal: make clusters
easy. By easy we mean easy to deploy, manage, upgrade and scale. We are driven
by this goal to help deliver the computational power of clusters to a wide
range of scientific users. It is clear that making stable and manageable
parallel computing platforms available to a wide range of scientists will aid
immensely in improving the state of the art in parallel tools.
See <a href="/docs/licensing">Rocks Licensing</a>.
</p>

<p>Rocks is supported by the National Science Foundation under Grants 
<a href="http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=1032778">OCI-1032778</a> and 
<a href="http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=0721623">OCI-0721623</a>.
<img class="" src="/assets/nsf_logo.png" alt="" />
</p>

<div class="border">
  <h1 class="page-heading">In the News </h1>
</div>

<!-- latest  post {% assign post_last = site.posts | first  %} -->

<!-- show sticky post  post -->
{% assign post_sticky = site.posts | sort:"sticky" | last %}
<h3>
  <a class="post-link" href="{{ post_sticky.url | prepend: site.baseurl }}">{{ post_sticky.title }}</a>
</h3>
<div class="post-container">
  <div class="post-img"><img class="" src="{{ post_sticky.imagesrc }}" alt="" /></div>
  <div class="post-content;">{{ post_sticky.content }}</div>
</div>
<br><hr>

{% assign newposts = site.posts | where: "categories","new" %}
{% for post in site.posts limit:3 %}
  {% if post.categories[0] == 'new' %}
    {% if post == post_sticky %} {% continue %} {% endif %}
    <h3>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h3>
    <div class="post-container">
      <div class="post-img"><img class="" src="{{ post.imagesrc }}" alt="" /></div>
      <div class="post-content;">{{ post.content }}</div>
    </div>
    <br><hr>
  {% endif %}
{% endfor %}

<br>
<div class="border">
  <h1 class="page-heading">Recent Posts</h1>
</div>

<table class="post-table">
  {% for post in site.posts %}
    <!-- Use this to list all posts : if post != post_last  -->
    {% if post.categories[0] == 'new' %}
      <tr>
        <td width="25%"><span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span></td>
        <td><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></td>
      </tr>
    {% endif %}
  {% endfor %}
</table>

<h1 class="page-heading"><a href="/archive">Older posts</a></h1>
<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

