---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
  <div class="border">
    <h1 itemprop="name headline">{{ page.title }}</h1>
  </div>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
	  {% if page.imagesrc %} 
        <img src="{{ page.imagesrc }}" alt="" class="half"/>
      {% endif %}
    {{ content }}
  </div>

</article>

<!--
	    <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
-->
